/* @import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Rock+Salt&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Rock Salt", cursive !important; */
  font-family: "Kalam", cursive !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-link {
  color: #ff6347 !important;
  text-shadow: -1px -1px 0 #e1ad01, 1px -1px 0 #e1ad01, -1px 1px 0 #e1ad01,
    1px 1px 0 #e1ad01;
}

.navbar-brand {
  color: #ff6347 !important;
  text-shadow: -1px -1px 0 #e1ad01, 1px -1px 0 #e1ad01, -1px 1px 0 #e1ad01,
    1px 1px 0 #e1ad01;
}

.pizza-detail:hover {
  text-decoration: underline;
  color: orange;
}
